    body {
        font-family: Arial, sans-serif;
        background: #f6f7fb;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }


    .buttons {
        padding: 12px 24px;
        font-size: 16px;
        margin: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        z-index: 10;
    }

    #yesBtn {
        background-color: #4CAF50;
        color: white;
    }

    #noBtn {
        background-color: #f44336;
        color: white;
    }