body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60vmin;
  height: 60vmin;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr); /* 5 equal columns */
  grid-auto-rows: 1fr;
}

.grid > div {
  aspect-ratio: 1 / 1;   /* makes perfect squares */
  border: 1px solid #ccc;
  box-sizing: border-box;
}